@page "/downloader"

<h1> FileDownloader </h1>

<button class="btn btn-primary" disabled>Something Download</button>

<br/>
<br/>

@*아래 버튼 앵커는 마우스 호버링시 링크가 드러난다.*@
<a class="btn btn-primary" href="/css/site.css" download="site.css" target="_blank">Something Download</a>

@code {

}