@page "/"

@inject IJSRuntime jsRuntime

<h1>Hello, Blazor!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-primary" @onclick="Popup_alert">Show Alert</button>
</div>


<br/>

<h1>Using common HTML</h1>
<input type="text" id="var1" size="2" @bind=@value1/>
<label>+</label>
<input type="text" id="var2" size="2" @bind=@value2/>
<label>=</label>
<input type="text" id="ret" size="2" value=@ret/>
<button class="btn btn-primary" @onclick="CalculatePlus">Calculate</button>

<br/>
<h1>Using Razor Component</h1>
<PlusCalculator/>


@code {
    string str;

    public async void Popup_alert(){
        str = "Alert Alert";

        await jsRuntime.InvokeAsync<string>("PopupJsFunctions.Popup_alert", str);
    }
}

@code {
    int ret = 0;
    int value1 = 0;
    int value2 = 0;
    
    @*더하기 계산을 수행합니다.*@
    void CalculatePlus() {
        ret = value1 + value2;
    }

}
