@page "/"

@inject IJSRuntime jsRuntime

<h1>Hello, Blazor!</h1>

Welcome to your new app.
<div>
    <button class="btn btn-primary" @onclick="Popup_alert">Show Alert</button>
</div>

@code {
    string str;

    public async void Popup_alert(){
        str = "Alert Alert";

        await jsRuntime.InvokeAsync<string>("PopupJsFunctions.Popup_alert", str);
    }
}
